.dc-page > .dc-card
{
   margin-bottom: 2em;
}

.dc-card .dc-column__contents
{
   background: #a3d9ff;
   border: 1px solid #75c6ff;
   color: #000;
}

.dc-card .dc-row
{
   margin-bottom: 20px;
}

.dc-column__contents--center
{
   text-align: center;
}

.item-group
{
   margin-bottom: 2em; 
}

.dc-loading-bar
{
   position: relative;
}